<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BraTaDio on the web</title>
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <header>
        <h1>BraTaDio on the web:</h1>
        <p>a Python based web application for Quartz Crystal Micro-balance with Dissipation (QCM-D) data analysis</p>
    </header>
    <nav>
        <a href="#analysis">Analysis</a>
        <a href="#plot-customization">Plot Customization Options</a>
        <a href="#apply-models">Apply Models</a>
        <a href="https://github.com/your-repo-link" target="_blank">
            Github <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="Github" class="github-icon">
        </a>
    </nav>
</body>
</html>